html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image:linear-gradient(45deg, rgba(155, 58, 58, 0.836),rgba(49, 49, 161, 0.473)) ;
}

.form-signin{
    max-width: 330px;
    width: 100%;
    padding: 15px;
    margin: auto;
}